<div class="password-box">
<h1>Hello.</h1>
<p>Please enter today's password below.</p>
<%= form_tag '/enter' do %>
   	<%= password_field_tag :Password %>
   	<%= submit_tag("Enter", :class => "login-btn") %>
<%end%>
</div>