/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	margin: 0;
 }

.nav-bar {
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 1rem 1.5rem;
}

.nav-bar h1 {
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-size: 2rem;
	line-height: 100%;
	margin: .5rem;
}

.nav-bar h2 {
	font-family: Georgia, serif;
	font-weight: lighter;
	font-size: 1.5rem;
}

.password-box{
	margin: 1.5rem auto;
	height: 300px;
	width: 300px;
	font-family: Georgia, serif;
	border: 2px solid #efefef;
	text-indent: 1rem;
}

input {
	text-indent: 1rem;
}