<!DOCTYPE html>
<html>
  <head>
    <title>FEWD Attendance App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="nav-bar">
  	<h1>General Assembly</h1>
  	<h2>Front-End Web Development with Arthur Bouie</h2>
 	</nav>
    <%= yield %>
    <footer>
    	<p>Built by: <a href="www.haileycodes.com">Hailey Miller</a></p>
    </footer>
  </body>
</html>
